<html>

<body>
<form method="POST" action="updateFund">
ID: <input name="id" value="<%= fund._id %>" readonly><br>
Name: <input name="name" value="<%= fund.name %>"><br>
Description: <input name="description" value="<%= fund.description %>"><br>
Target: <input name="target" value="<%= fund.target %>"><br>
<input type="submit" value="Update Fund">


</form>

<p>
<a href="allOrgs">View All Organizations</a>


</body>



</html>
